.container{
    background-color: rgb(255,255,255);
    /*width: 1080px;*/
    width: 75vw;
    height: 100vh; /*vw: viewport width, viewport é a página está sendo exibida*/
    margin: 0 auto; /*vh: viewport height, viewport é a página que está sendo exibida*/
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 200px;
}

.grid-item{
    background-color: rgb(255, 0, 144);
    border: 1px solid black;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}